<div class="navbar-fixed">
    <nav class="nav-extended white">
        <div class="nav-wrapper">
            <a href="/" title="Logotipo" class="brand-logo">{% include nav/logotipo.svg %}</a>
            
            <ul class="right hide-on-med-and-down">
                {% include nav/nav.html %}

                <li>
                    <a href="#contactos" class="btn-large waves-effect waves-primary modal-trigger">
                        {% if page.lang == "pt" %}
                            Contacte-nos
                            {% else %}
                                Contact Us
                        {% endif %}
                    </a>
                </li>
            </ul>
        </div>

        <div class="nav-content">
            <a href="tel:+{{ site.phone }}" class="btn-large btn-floating halfway-fab waves-effect waves-primary hide-on-large-only"><i class="fas fa-lg fa-phone"></i></a>
        </div>
    </nav>
</div>