<section id="sobre" class="section scrollspy primary-color-text">
    <article class="container">
        {% assign sobre=site.sobre | where:"lang", page.lang %}
        {% for item in sobre limit: 1 %}
            <h4 class="center-align"><i class="fas fa-{{ item.icon }}"></i> {{ item.title }}</h4>
            <div class="container grey-text text-darken-4 justify">
                {{ item.content }}
            </div>
        {% endfor %}

        <div class="center">
            <button class="btn waves-effect waves-light modal-trigger" data-target="sobre-modal">
                {% if page.lang == "pt" %}
                    Saiba Mais
                    {% else %}
                        More
                {% endif %}
            </button>
                    
            <a href="#contact-form" class="btn-flat waves-effect waves-primary modal-trigger">
                {% if page.lang == "pt" %}
                    Contacte-nos
                    {% else %}
                        Contact Us
                {% endif %}
            </a>
        </div>
    </article>
</section>

{% include sobre-modal.html %}
{% include contact-form.html %}