---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang }}">
    {% include head.html %}
    <body id="top">
        {% include nav/navbar.html %}
        
        <main class="animate-bottom">
            {% unless page.layout == "post" %}
                {% include header/page-header.html %}
            {% endunless %}
            
            <section id="main" class="section no-pad scrollspy">
                {{ content }}
            </section>

            {% include contact-form/contact-modal.html %}

            {% include fab.html %}
        </main>

        {% include footer.html %}

        {% include scripts/scripts.html %}